In [1]:
1 >2

False

In [2]:
2 <3

True

In [3]:
1 >= 3

False

In [4]:
3 == 3

True

In [5]:
2 != 3

True

In [6]:
True and False

False

In [7]:
True or False

True

In [8]:
True or True

True

In [9]:
False or False

False

In [10]:
False or True

True

In [11]:
(1 > 2)  or (2 ==3) or (4 > 9)

False

In [12]:
(1 < 2)  or (2 ==3) or (4 > 9)

True

In [ ]:
#if statements executes when a condition is true
if expression:
    statements
    s
    s

In [13]:
if (1<2):
    print("hi")

hi

In [14]:
if  1< 2:
    print("first if")
else:
    print("Else")

first if

In [15]:
if 1==2:
    print("something")
elif 3==3:
    print ("from else if")
else:
    print("from else")

from else if

In [ ]:
#while Loops
while expression:
    statement 1
    statement 2
    .
    .
    last statement

In [16]:
i = 1
while i < 6:
    print("hi")
    if i < 3:
        print("still less than 3")
    i += 1

hi
still less than 3
hi
still less than 3
hi
hi
hi

In [17]:
#Break statement
i = 1
while i < 6:
    print("hi")
    if i == 3:
        break
    i += 1

hi
hi
hi

In [18]:
#for loops
for jelly in list:
    statemts 
    .
    .
    .

SyntaxError: invalid syntax (<ipython-input-18-a1e699500adb>, line 4)

In [21]:
seq = [1,2,3,4,5,6]
for item in seq:
    print(item)

1
2
3
4
5
6

In [22]:
fruits = ["apple","pear","grape"]
for x in fruits:
    if x == "pear":
        break
    print(x)

apple

In [23]:
#Continue statement
#stops the current iteration and continues with the next

fruits = ["apple","pear","grape"]
for x in fruits:
    if x == "pear":
        continue
    print(x)

apple
grape

In [24]:
#else for for loop
# runs the else code after the loop is finished
for x in range(6):
    print(x)
else:
    print("Finally done!")

0
1
2
3
4
5
Finally done!

In [25]:
for x in range(6):
    print(x)
print("Finally done!")

0
1
2
3
4
5
Finally done!

In [30]:
out_list=[]
input_list=[0,1,2,3,4,5,6,7,8]
for x in input_list:
    out_list.append(x**2)
print(out_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [34]:
out_list=[item**2 for item in input_list]
print(out_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
#Function syntax
def funciton_name(optional parameters):
    statements
    .
    .
    .

In [38]:
def greeting():
    """
    this method greets the user
    """
    print("Good evening!")

In [39]:
greeting()

Good evening!

In [40]:
def greeting2(name):
    print("Good Evening " + name + "!")

In [41]:
greeting2("Mike T Tiger")

Good EveningMike T Tiger!

In [42]:
#default value
def greeting3(name = " person"):
    print("Good Evening " + name + "!")

In [43]:
greeting3()

Good Evening  person!

In [44]:
greeting2()

TypeError: greeting2() missing 1 required positional argument: 'name'

In [45]:
def toPower3(number):
    return number ** 3

In [46]:
toPower3(3)

27

In [47]:
variable1 = toPower3(3)

In [48]:
print(variable1)

27

In [50]:
item1 = 98
toPower3(item1)

941192

In [51]:
def testFunction(parameter1, parameter2):
    print(parameter1)

In [52]:
firstName="Mike"
lastName = "Tiger"
testFunction(firstName,lastName)
testFunction(parameter2=firstName, parameter1 = lastName)

Mike
Tiger

In [53]:
def my_function(*kids):
    print("the youngest child is:" + kids[2])

In [54]:
my_function("mike","john","sara")

the youngest child is:sara

In [55]:
my_function("mike","john","sara","Anthony","Kaden")

the youngest child is:sara

In [56]:
#Lambda Expressions

In [57]:
def times2(var):
    return var * 2

In [58]:
times2(3)

6

In [1]:
t = lambda var: var * 2

In [2]:
t(2)

4

In [ ]:
#map: applys a funciton to each record in a  list

In [62]:
seq = [1,2,3,4]

In [65]:
list2 = list(map(times2,seq))

In [66]:
list2

[2, 4, 6, 8]

In [68]:
list3 = list(map(lambda var:var *2,seq))

In [69]:
list4 = list(map(lambda var:var * 3,seq))
list4

[3, 6, 9, 12]

In [71]:
#filter : filters out elements from a list

#filter out all the even numbers
list(filter( lambda x: x%2 == 0 ,list4))

[6, 12]

In [73]:
list(filter( lambda jelly: jelly%2 != 0 ,list4))

[3, 9]

In [74]:
#string data type

st = "Hello my name is Mike"

In [75]:
st[0]

'H'

In [76]:
st[1]

'e'

In [77]:
st.upper()

'HELLO MY NAME IS MIKE'

In [78]:
st.split(' ')

['Hello', 'my', 'name', 'is', 'Mike']